.App {
  text-align: center;
  align-items: center;
  align-self: center;
  margin: 0;
  width: 100%;
}
body {
  text-align: center;
  align-items: center;
  align-self: center;
  margin: 0;
  width: 100%;
  
}

.container{
  background-color: gainsboro;
  border-color: black;
  border-style: solid;
  margin: 10px;
  width: 200px;

  display: flex;
  flex-direction: row;
  height: fit-content;
  width: fit-content;
  align-items: center;
  padding: 5px;
  gap: 5px;
}


.ele1{
  width: fit-content;
  height: fit-content;
  display: flex;
}

.ele2{
  width: fit-content;
  height: fit-content;
}

.ele3{
  width: fit-content;
  height: fit-content;
  display: flex;
}

.ListContainer{
  justify-content: center;
  align-items: center;
  width: 80%;
  margin-top: 20px;
  display:flex;
  flex-wrap: wrap;
  margin-left: 15%;

}
.title{
font-size: 15px;
}


#alert{
  
  position: sticky;
  border: solid black ;
  justify-content: center;
  align-items: center;
  align-self: center;
  display: flex;
  width: fit-content;
  padding: 5px;
}


#b1{
  padding: 3px;
  margin: 5px;
  border: solid black ;
  width: fit-content;
  height: fit-content;
  background-color: red;
}

#b2{
  padding: 3px;
  margin: 5px;
  border: solid black ;
  width: fit-content;
  height: fit-content;
  background-color:green;
}

.date{
  font-size: 10px;
}
nav{
  height: 20px;
  width: 100%;
  position: sticky;
  display: flex;
  background-color:lightgrey;
  padding-left: 25%;
  padding-right: 25%;

}
.navO{
  width: 200px;
 
}


a{
  color: black;
  text-decoration: none;
}

#create_note{
  background-color:blue;
  width: fit-content;
  height: 400px;
}


.centered {
  width: 75%;
position: fixed;
left: 50%;
margin-left: -37.5%;
}

.form_intro{
  margin-left: 600px;
width: 3000px;
 border-color: black;
 border-style: solid;
 border-radius: 5px;
 margin-top: 200px;
 padding: 20px ;
 width: fit-content;
}

#edit_note{
  background-color: seashell;
  width: fit-content;
  position: absolute;
  left: 65%;
  text-align: center;
  align-items: center;
  padding: 100px;
  height: fit-content;
  border-color: black;
  border-style: solid;
  border-radius: 5px;


}

#create_note{
  margin-top: 5%;
  background-color: seashell;
  width: fit-content;
  position: absolute;
  left: 65%;
  text-align: center;
  align-items: center;
  padding: 100px;
  height: fit-content;
  border-color: black;
  border-style: solid;
  border-radius: 5px;

}
.options{
  display: flex;
  justify-content: center;
  margin :5px;
  
}
form{
  display: block;
}

#square{
  background-color: white;
  border-style:ridge;
  border-color: black;
}


button{
  margin: 5px;
}
input{
  margin: 10px;
}